<h1>Notflix</h1>
<h2>(this isn't Netflix, get it?)</h2>

<div class="nav">
  <!-- <img class="logo" src="../images/THING.png"> Will eventually be a navbar or something-->
</div>

<div class="content">
  {{outlet}}
</div>
